* {
    font-family: lato, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* ==================================header section============================================ */

marquee {
    color: #741349;
    /* position: sticky;
    top: 0; */
}


marquee span {
    margin-left: 20rem;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: transparent;
    /* position: sticky;
    top: 0; */
    /* background-color: #f1f1f1; */
}


nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    /* gap: 0.7rem; */

}

nav {
    margin-right: 5rem;

}

header .logo-1 {
    margin-left: 5rem;
    /* position: initial; */
}



nav ul li a {
    text-decoration: none;
    color: #741349;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    padding: 12px 32px;

}

nav ul li a:hover {
    background-color: #741349 !important;
    color: white;
    border-radius: 32px;

}

nav ul li .button {
    padding: 12px 28px;
    background-color: #741349;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    margin-left: 4px;
}

/* =====================================================contact us page css starts herfe============================ */

.body {
    margin: 0;
}

.container-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f1f1f1;
    padding-top: 3rem;
}

.container-11 .box-11 {
    background-color: #741349;

    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 64px;
}

.container-11 form {
    gap: 1rem;
}

.form-container-1 {
    width: 40%;
    padding: 100px;


}

.form-container-1 h2 {
    text-align: left;
    padding-bottom: 2rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 32px;
}

.form-container-1 form {
    display: flex;
    flex-direction: column;

}

.form-container-1 input,
.form-container textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container-1 .but01 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container-1 button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* width: 130px; */
}

.form-container-1 button:hover {
    transform: translatey(-4px);
}

.address-container {
    /* width: 50%; */
    padding: 35px;
    margin-right: 6rem;
    background-color:
        #751721;
    border-radius: 32px;

}

.address-container h2 {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 64px;

    color: #000000;
}

.address-container ul {
    list-style: none;
    padding: 0;
    gap: 3rem;

}

.address-container li {
    margin-bottom: 10px;
    display: flex;
    gap: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 1rem;

    color: #FFFFFF;
}


.address-container .social-media {

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.head-text {
    text-align: center;
    padding: 3rem;
    background-color: #f1f1f1;
}

.head-text h1 {
    color: #741349;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    padding: 4rem;
}



.container-99 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;

    margin-left: 5rem;
    width: 100%;
    border-radius: 32px 0px 0px 32px;
    padding-bottom: 2rem;
    background-color: #f1f1f1;

}

.left-side {
    display: flex;
    /* align-items: left; */
    flex-direction: column;
    padding: 3rem;
    width: 40%;
    background-color: #741349;
    gap: 1rem;
    color: #fff;
    border-radius: 32px 0 0 32px;
}

.right-side {
    width: 60%;

}

.right-side .maps {
    background-color: #ccc;
    width: 80%;
    height: 314px;
    overflow: hidden;
}

.left-side h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.left-side p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}


/* .left-side input[type="email"] {
    padding: 0.8rem;
    margin-right: 2rem;
    border-radius: 5px;
    border: none;

} */

.email-container {
    display: flex;
    align-items: center;
}

.email-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.email-button {
    width: 30%;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* ============================================================about page css starts here============================== */



.main-ab {
    background-image: url("../img/bhimg.svg");

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    margin-top: -10rem;
    flex-direction: column;


}




.main-box {
    background-color: #ccc;
    text-align: center;

    display: flex;
    padding: 15px;
    flex-direction: column;

}


.main-ab h1 {

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    color: #741349;
}


.main-ab p {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: black;

}




/*---------------------------------------------- footer section=====================  */

footer {
    background-color: #741349;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-column {
    flex-basis: 25%;
    margin-bottom: 20px;
}

.footer-column h4 {
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.footer-column p {
    padding-bottom: 3px;
    font-weight: 100;

}


.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 23px;

}

.footer-column ul li a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 20px;
}

.footer-column form {
    margin-top: 10px;
}

.footer-column input[type="email"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 5px;

}

.footer-column button {
    background: none;
    color: #fff;
    border: 2px solid white;
    padding: 10px 26px;
    cursor: pointer;
    width: 100%;
    margin-top: 22px;
    font-size: 14px;
    font-weight: 600;
}

.footer-img {
    padding-top: 1.9rem;
}

.footer-link {
    text-decoration: none;
    color: white;


}

.footer-logo-parent {
    margin-bottom: 17px;
}

.footer-column .contact-info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 24px;
}

.footer-column img {
    margin-right: 10px;
}

.footer-column .follow-us {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-column .follow-us a img {
    width: 30px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

}

.email-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    margin-bottom: 22px;
}

.email-link img {
    margin-right: 5px;
    /* Adjust as needed */
}


/* service page start here */
.ServiceLable {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #ddc5cb;
    position: sticky;
    top: 0;
    height: 50px;
    z-index: 100;




}

.ServiceLable a {
    text-decoration: none;
    color: #741349;


}

.ServiceLable a:hover {
    transform: scale(1.1);

    transition: transform 0.4s ease-in-out;
}


.Service-hero {
    display: flex;
    width: 100%;
    height: 137vh;
    margin-top: -10rem;
}

.Service-hero-left,
.Service-hero-right {

    width: 50%;
}

.Service-hero-left {
    background-image: url(../img/servicehero.svg);
    background-repeat: no-repeat;
    z-index: -1;

}

.Service-hero-right {

    display: flex;
    align-items: center;
    text-align: center;


}

.Service-hero-right h1 {
    color: #741349;
    font-weight: 500;
    font-size: 96px;
    line-height: 128px;
}

.service-main-container {
    display: flex;

}

.Service-main {
    margin-bottom: 10PX;
}

.service-left {
    width: 50%;
    background-color: #741349;
    display: flex;
    padding: 5rem;
    flex-direction: column;
}

.service-left h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #F7EFF3;
    text-align: center;

}

.service-left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 2rem;
    color: #F7F7F7;
}

.service-left a {
    margin-top: 2rem;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
    border-radius: 15px;
    border: 1px solid #F7F7F7;
    padding: 12px 16px;
    text-decoration: none;
    align-self: center;
    color: #741349;
    background: #F7EFF3;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service-left a:hover {
    color: white;
    background-color: #741349;
    transition-delay: 0.1s;
}

.service-left2 a:hover {
    color: #741349;
    background-color: white;
    transition-delay: 0.1s;
    border: 1px solid #741349;
}

.service-left2 {
    background-color: #F7EFF3;
}

.service-left2 a {
    background-color: #741349;
    color: #ffff;
    font-weight: 100;

}




.service-right {
    width: 50%;
    height: 476px;
    overflow: hidden;

}

.slideshow-container {
    display: flex;
    animation: slideShow 10s infinite;
}

.slide {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

@keyframes slideShow {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }
}


.Service-hero-container {
    scroll-behavior: smooth;
}

.Service-hero-container::-webkit-scrollbar {
    width: 5px;
}

.Service-hero-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.Service-hero-container::-webkit-scrollbar-thumb {
    background: #888;
}



/*
  .service-left {
    margin-top: 60px;

  }= */



/* index page start here pawan */

.main-section-hero {
    display: flex;
    position: relative;
    min-height: 400px;
    margin-top: -10rem;
    z-index: -1;



}

.section-hero-left {

    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;

}

.section-hero-right {
    background-image: url(../img/homepage.svg);
    height: 1000px;

    width: 50%;


}

.section-hero-left h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 94px;
    line-height: 125px;
    color: #741349;
    text-shadow: 0px 4px 4px #FFFFFF;

}

.section-hero-left p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    color: #333333;
}

.section-hero-left a {
    padding: 16px 32px;
    gap: 10px;
    background: #B1056D;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #F5EFF3;
    margin-top: 39px;
}

.section-hero-left a:hover {
    background-color: white;
    color: #741349;
    border: 1px solid #741349;
}

.section-hero2 {
    width: 100%;


    background-color: #741349;

}

.section-hero2 h1 {
    letter-spacing: 0.02em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.view {
    padding: 44px 100px;
    display: flex;
    align-items: center;
    gap: 41rem;
    cursor: pointer;

}

.arrow-img {
    width: 38px;
    position: relative;
    top: 5px;
}

.view-more:hover {

    transform: scale(1.1)
}




.our-services,
.service-dec {
    text-align: center;
    padding: 48px 64px;
}

.our-services hr,
.service-dec hr {
    width: 17.75rem;
    margin: auto;
    border: 2px solid #7A235B;

}


.our-services h1,
.service-dec h1 {
    padding-bottom: 0.8rem;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #7A235B;
}

.our-service-container {
    /* padding: 4.03rem 7.87rem; */
    padding: 64px 52px;
    width: 30%;

}

.our-services-up {
    background: #B1056D;

    padding: 64px 52px;
}

.our-services-up h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 12px;
    color: #F5EFF3;

}

.our-service-container p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #F7EFF3;
}

.our-services-bottom img {
    width: 100%;
    /* border-radius: 0 0 0 32px; */
}

.our-service-main-container {
    display: flex;

}

.our-services-bottom .serviceimage2 {
    border-radius: 0 32px 0 0 !important;
    margin-bottom: -4.5px;
}

.our-services-bottom .serviceimage1,
.serviceimage3 {
    border-radius: 0 0 0 32px !important;
}

.our-services .button {
    background: #B1056D;
    border-radius: 32px;
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;


}

.our-services .button:hover {
    background-color: white;
    color: #b1056d;
    border: 2px solid #b1056d;
}

.service-dec {
    padding: 100px;
}

.service-dec-main {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.service-dec {

    background-color: #741349;
    width: 50%;
    border-radius: 15px;


}

.service-dec h1 {
    color: white;


}

.service-dec hr {
    border: 2px solid white;
}

.service-decp p {
    margin-top: 48px;
    text-align: left;
    color: white;
    padding: 1rem;

}

.our-services-dec {
    margin-bottom: 100px;

}

/* #serviceimage2{
    position: relative;
     top: 20px;

} */

.testi-container {
    display: flex;

    align-items: center;
    padding: 50px 25px;
    gap: 72px;

}

.testimonial {
    background: #F7EFF3;
    width: 100%;
    padding: auto;
}

.testimonial h1 {
    color: #741349;
}

.testimonial hr {
    border: 2px solid #741349;
}

.testi {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.testi-container p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;


    color: #B1056D;
}

.testi-dec img {
    padding-top: 7rem;


}

.testi-dec h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: right;
    color: #767071;
    position: relative;
   top: 72px;
}

.testi-dec h5 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #767071;
    position: relative;
    top: 86px;
}
.testi-container,.re-img {
border-radius: 15px;
  }

